{%extends 'base.html'%}

{%block main_block%}
<div class="container">

  {{categories}}


<form action="">
  
  <select name="category" id="" onchange="this.form.submit()">

    <option value="all" {%if selected_category == all %} selected {%endif%} >All</option>
    {%for cat in categories%}
      <option value="{{cat}}" {%if selected_category == cat %} selected {%endif%} >{{cat}}</option>
    {%endfor%}
  </select>

<!-- static -->
 <!-- authentication -->
  
</form>
  
     
  <table class="table table-dark table-striped rounded border border-3 p-3 mt-5">
      <tr>
          <th>Title</th>
          <th>Amount</th>
          <th>Category</th>
          <th>PaymentMethod</th>
          <th>Priority</th>
          <th>Action</th>
      </tr>
      {%for t in data%}
          <tr>
              <td>{{t.title}}</td>
              <td>{{t.amount}}</td>
              <td>{{t.category}}</td>
              <td>{{t.payment_method}}</td>
              <td>{{t.priority}}</td>
              <td>


                <a href="{%url 'detailexpense' t.id %}">view</a>

                <a href="{%url 'deleteexpense' t.id%}">Delete</a>

                <a href="{%url 'editexpense' t.id%}">Edit</a>
              </td>
            
          </tr>
      {%endfor%}

  </table>

</div>

{%endblock%}